.chart-block{

	width: 164px;
    display: inline-block;
    margin-right: 48px;
    box-shadow: 1px 1px 8px -1px rgba(0,0,0,0.69);
    padding: 24px;

    .chart-block__title{
    	margin-bottom: 16px;
    }

    .chart-block__buttons {
    	margin-bottom: 8px;
    }

    .chart-block__loading {
    	opacity: 0;
    	height: 11px;

    	&.chart-block__loading--display {
    		opacity: 1;
    		background-image: url(~../../../images/loading.gif);
		    background-position: center center;
		    background-repeat: no-repeat;
    	}
    }

	.chart-block__description {

	}

	.chart-block__canvas-wrapper{
		position: relative;
		height: 164px;

		.chart-block__canvas{
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}

		.chart-block__canvas-tooltip{
			position: absolute;
			background: rgba(0, 0, 0, .7);
			color: white;
			border-radius: 3px;
			-webkit-transition: all .1s ease;
			transition: all .1s ease;
			pointer-events: none;
			-webkit-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
			white-space: nowrap;
		}
	}
}