.boss-panel {
	height: 720px;

	.boss-panel__container {
		float: right;
	    position: relative;
	    box-sizing: border-box;
	    width: calc(100% - 251px);
	    margin-left: 16px;
	    height: 100%;
	    box-shadow: 2px 2px 10px 0 #979797;
	    background-color: #fff;
	}
}