.requests-block{
	position: relative;
	width: 965px;
	height: 300px;

	.requests-block__empty {
		border: 1px solid #d3d3d3;
		height: 100%;

		.requests-block__empty-descr {
			position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    color: #ccc;
		}
	}

	.requests-block__content {
		.requests-block__searchbar {
			margin-bottom: 8px;
			display: inline-block;
			
			.requests-block__searchbar-input{
				background-color: #fff;
				color: #000;
			}
		}

		.requests-block__count{
			color: #b6b6b6;
			margin-left: 8px;
		}

		.requests-block__sort {
			margin-left: 16px;
			float: right;
		}
		.requests-block__sort-cell{
			display: block;
			padding: 8px;
			cursor: pointer;
		}
	}
}